{% extends 'base.html.twig' %}

{% block title %}{{"edit_user_role_for"|trans}} {{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
    <div class="card col-md-6 mx-auto">
        <div class="card-header">
            <h1 class="card-title">
                {{"edit_user_role_for"|trans}} <br>
                {{ user.firstname }} {{ user.lastname }}
            </h1>
            <a class="btn btn-link" href="{{ path('app_admin_user_index') }}">{{"back_to_list"|trans}}</a>
        </div>
        <div class="card-body">
            {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
{% endblock %}
