{% extends 'base.html.twig' %}

{% block title %}{{"User_index"|trans}}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{"User_index"|trans}}</h1>
            <a class="btn btn-light" href="{{ path('app_admin_user_new') }}">{{"Create_new"|trans}}</a>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{"Fullname"|trans}}</th>
                        <th>{{"Email"|trans}}</th>
                        <th>{{"Phone"|trans}}</th>
                        <th>{{"Address"|trans}}</th>
                        <th>{{"Childs"|trans}}</th>
                        <th>{{"Roles"|trans}}</th>
                        <th>{{"actions"|trans}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.firstname }} {{ user.lastname }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{ user.fulladress }}</td>
                            <td>
                                {% for child in user.childs %}
                                    <li>
                                        {{ child }}
                                    </li>
                                {% endfor %}
                            </td>
                            <td>{{ user.roles[0] | split('_')[1] }}</td>
                            <td>
                                <a class="btn btn-link" href="{{ path('app_admin_user_edit', {id: user.id}) }}">{{"edit"|trans}}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">{{"No_records_found"|trans}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
