{% extends 'base.html.twig' %}

{% block title %}{{"Accueil"|trans}}{% endblock %}

{% block body %}
<section class="pt-5 my-4" data-controller="serviceWorker">
    <div class="px-3 py-4 my-4">
        <h1 class="text-{{ (config.get('color') | contrast_text) == 'light' ? 'dark' : 'light' }} mb-4">
            {% if config.get('homepageTitle') is defined %}
                {{ config.get('homepageTitle') }}
            {% else %}
                Kid's Bulle
            {% endif %}
        </h1>
        <p class="text-{{ (config.get('color') | contrast_text) == 'light' ? 'dark' : 'light' }}">
            {% if config.get('homepageDescription') is defined %}
                {{ config.get('homepageDescription')|nl2br }}
            {% else %}
                {{"Website_subtitle"|trans}}
            {% endif %}
        </p>
    </div>
        
    <div class="row">
        {% for category in categories %}
            {% if category.number > 0 %}
                <div class="col-md-{{ config.get('columnNumber') }} mb-4">
                    <div class="card h-100" style="background-color:{{ category.color }}">
                        <div class="card-header">
                            <h2 class="card-title fs-3">{{ category.name }}</h2>
                            {% if category.teacher %}
                                <b class="text-muted">{{ category.teacher.firstname }}</b>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <p>{{ category.description }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>

{% if config.get('homepagePlanning') is same as 'true' %}
    <section class="py-4 my-4">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">{{"Planning"|trans}}</h1>
            </div>
            <div class="card-body">
                <turbo-frame id="planning_home">
                    {% include "planning/_nav_month.html.twig" with { frame: 'planning_home'} %}
                    {% include "planning/_planning.html.twig" %}
                </turbo-frame>
            </div>
        </div>
    </section>
{% endif %}

{% endblock %}
