{% extends 'base.html.twig' %}

{% block title %}{{"Planning"|trans}}{% endblock %}

{% block body %}
<section class="mb-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{"Planning"|trans}}</h1>
            {% if is_granted("ROLE_TEACHER") %}
                <div class="d-flex justify-content-between">
                <a class="btn btn-primary" href="{{ path('app_admin_activity_new') }}">
                    <i class="fa-solid fa-circle-plus fa-xl me-2"></i>
                    Créer une activité
                </a>

                <form class="" name="date" action="{{ path('app_admin_activity_index') }}" method="get">
                <div class="d-flex">
                    <div class="me-3">
                        <label for="date" class="form-label required" hidden>__Date</label>
                        <input type="date" id="date" name="date" required="required" class="form-control" />        
                    </div>
                    <div class="me-3">
                        <button class="btn btn-primary">{{"Search"|trans}}</button>
                    </div>
                </div>
                </form>
            </div>
            {% endif %}
        </div>
        <div class="card-body">
            <turbo-frame id="planning_home">
                {% include "planning/_nav_month.html.twig" %}
                {% include "planning/_planning.html.twig" %}
            </turbo-frame>
        </div>
    </div>
</section>
{% endblock %}
