<div class="btn-group m-1">
	{% if is_granted("CHILD_ACCESS", child) %}
		{% if child in notEnrolledChildren %}
			<a class="btn btn-primary" href="{{ path('app_activity_add_child', {id: activity.id, child: child.id})}}">
				{{ child|title }}
				<i class="fa-solid fa-circle-plus fa-xl ms-2"></i>
			</a>
		{% else %}
			<a class="btn btn-primary" href="{{ path('app_activity_remove_child', {id: activity.id, child: child.id})}}">
				{{ child|title }}
				<i class="fa-solid fa-circle-xmark fa-xl ms-2"></i>
			</a>
		{% endif %}
	{% else %}
		<button class="btn btn-outline-dark" disabled>
			{{ child|title }}
		</button>
	{% endif %}
</div>
