{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}
    <h1>Activity</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activity.id }}</td>
            </tr>
            <tr>
                <th>DateAt</th>
                <td>{{ activity.dateAt ? activity.dateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ activity.category }}</td>
            </tr>
            <tr>
                <th>Childs</th>
                <td>
                    <ul>
                        {% for child in activity.childrens %}
                            <li>
                                {{ child }}
                                {% if is_granted("CHILD_ACCESS", child) %}
                                - <a href="{{ path('app_activity_remove_child', {id: activity.id, child: child.id})}}">remove</a>
                             </li>    
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Ajouter un enfant</th>
                <td>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Ajouter</button>
                {{ form_end(form) }}

                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_activity_edit', {'id': activity.id}) }}">edit</a>

{% endblock %}
