{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}
    <section class="card col-6 mx-auto">
        <div class="card-header">
            <h1>Activity</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ activity.dateAt|date('j F Y à H\\hi') }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ activity.category }}</h6>
            <p>With {{ activity.teacher.firstname }} {{ activity.teacher.lastname }}</p>
        </div>
        <ul class="list-group list-group-flush">
            {% for child in activity.childrens %}
                <li class="list-group-item">
                    {{ child }}
                    {% if is_granted("CHILD_ACCESS", child) %}
                        - <a href="{{ path('app_activity_remove_child', {id: activity.id, child: child.id})}}">remove</a>
                    {% endif %}
                    </li>    
            {% endfor %}
        </ul>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Ajouter</button>
            {{ form_end(form) }}
        </div>
        <div class="card-footer">
            <a class="card-link" href="{{ path('app_user') }}">back to profile</a>
            <a class="card-link" href="{{ path('app_activity_edit', {'id': activity.id}) }}">edit</a>
        </div>

    </section>

{% endblock %}
