{% extends 'base.html.twig' %}

{% block title %}
	{{"Activity"|trans}}
{% endblock %}

{% block body %}
	<section class="card col-md-6 mx-auto">
		<div class="card-header d-flex justify-content-between align-items-center">
			<div>
				<h1 class="card-title" style="color: {{ activity.category.color }}">{{ activity.category }}</h1>
				{% if activity.title %}
					<h2 class="card-subtitle mb-2 text-muted">{{ activity.title }}</h2>
				{% endif %}
				{% if activity.description %}
					<p>{{ activity.description }}</p>
				{% endif %}
				<h5 class="card-title" style="color: {{ activity.category.color }}">
					{{ activity.dateAt|format_datetime(pattern="d MMMM YYYY à HH:mm", locale='fr') }}
				</h5>
				{% if activity.teacher %}
					<h6 class="card-subtitle mb-2 text-muted">
						{{"With"|trans}}
						{{ activity.teacher.firstname }}
						{{ activity.teacher.lastname }}
					</h6>
				{% endif %}
			</div>
			<i class="fa-solid fa-snowflake fa-2xl m-4" style="color: {{ activity.category.color }}"></i>
		</div>
		
		{# Card body #}
		<turbo-frame id="activity-view">
			<div class="card-body">
				<h6 class="card-subtitle mb-2 text-muted">
					{{"Registered"|trans}}
					<span class="badge bg-secondary">{{ activity.childrens|length }}</span>
				</h6>
				{# List of children ordered by user and age #}
				{% for child in enrolledChildren %}
					{% include "activity/_button_child.html.twig" %}
					<br>
				{% endfor %}
			</div>

			{# buttons to add children directly from the activity view #}
			{% if (notEnrolledChildren|length) > 0 %}
				<div class="card-body border-top">
					<h6 class="card-subtitle mb-2 text-muted">Ajouter une personne</h6>
					{% for child in notEnrolledChildren %}
						{% include "activity/_button_child.html.twig" %}
					{% endfor %}
				</div>
			{% endif %}
		</turbo-frame>

		<div class="card-footer d-flex justify-content-between">
			<a class="btn btn-link" href="javascript:history.back()" data-turbo-frame="_top">
				Retour
			</a>
			{% if is_granted('ROLE_TEACHER') %}
				<a class="btn btn-secondary" href="{{ path('app_admin_activity_show', {id: activity.id}) }}" data-turbo-frame="_top">
					{{"manage"|trans}}
				</a>
			{% endif %}
		</div>
	</section>
{% endblock %}
