{% extends 'base.html.twig' %}

{% block title %}{{"Activity_index"|trans}}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{"Activity_index"|trans}}</h1>
            <div class="d-flex justify-content-between">
                <a class="btn btn-link" href="{{ path('app_admin_activity_new') }}">{{"Create_new"|trans}}</a>

                <form class="d-none d-md-block " name="date" action="{{ path('app_admin_activity_index') }}" method="get">
                <div class="d-flex">
                    <div class="me-3">
                        <label for="date" class="form-label required" hidden>__Date</label>
                        <input type="date" id="date" name="date" required="required" class="form-control" />        
                    </div>
                    <div class="me-3">
                        <button class="btn btn-primary">{{"Search"|trans}}</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="card-body">
            {% include "planning/_nav_month.html.twig" %}
            {% include "planning/_planning.html.twig" %}
        </div>
    </div>
{% endblock %}
