{% extends 'base.html.twig' %}

{% block title %}{{"Category_index"|trans}}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{"Category_index"|trans}}</h1>
            <a class="btn btn-link" href="{{ path('app_admin_category_new') }}">{{"Create_new"|trans}}</a>
        </div>
        <div class="card-body">
            <div class="row">
            {% for category in categories %}
                <div class="col-md-3 mb-4">
                    <div class="card h-100" style="background-color: {{ category.color }}">
                     <div class="card-header">
                        <h1 class="card-title">{{ category.name }}</h1>
                        <b class="text-muted">{{ category.teacher }}</b>
                     </div>
                     <div class="card-body">
                        {{ category.description }}
                     </div>
                     <div class="card-footer d-flex justify-content-between">
                        <a class="card-link" href="{{ path('app_admin_category_edit', {'id': category.id}) }}">{{"edit"|trans}}</a>
                        <div>
                        {% if category.number == 0 %}
                            <span class="badge badge-secondary bg-secondary">Non affiché</span>
                        {% else %}
                            <span class="badge badge-secondary bg-secondary">{{ category.number }}</span>
                        {% endif %}
                        </div>
                     </div>
                    </div>
                </div>
            {% else %}
                <p>{{"No_records_found"|trans}}</p>
            {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}
