{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Category index</h1>
            <a class="btn btn-light" href="{{ path('app_admin_category_new') }}">Create new</a>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>
                            <button class="btn" style="background-color: {{ category.color }}">{{ category.name }}</button>
                        </td>
                        <td>
                            <a href="{{ path('app_admin_category_show', {'id': category.id}) }}">show</a>
                            <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    

    
{% endblock %}
