{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Category index</h1>
            <a class="btn btn-light" href="{{ path('app_admin_category_new') }}">Create new</a>
        </div>
        <div class="card-body">
            <div class="row">
            {% for category in categories %}
                <div class="col-4 mb-4">
                    <div class="card" style="background-color: {{ category.color }}">
                     <div class="card-header">
                        <h1 class="card-title">{{ category.name }}</h1>
                     </div>
                     <div class="card-body">
                        {{ category.description }}
                     </div>
                     <div class="card-footer">
                        <a class="card-link" href="{{ path('app_admin_category_edit', {'id': category.id}) }}">edit</a>
                     </div>
                    </div>
                </div>
            {% else %}
                <p> colspan="4">no records found</p>
            {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}
