{# button on small screen #}
<div class="d-block d-lg-none">
    <div class="btn-group-vertical w-100">
        <a class="col-10 btn" 
        style="background-color: {{ activity.category.color }}" 
        href="{{ path('app_activity_show', {id: activity.id}) }}"
        data-turbo="false">
             {% include "planning/_button_text.html.twig" %}
            <span class="badge badge-secondary">{{ activity.childrens|length }}</span>                           
        </a>
        {% if is_granted('CHILD_ACCESS', child) %}
            <a href="{{ path('app_child_action_activity', {child: child.id, action: 'remove', activity:activity.id}) }}" 
            class="col-2 btn btn-secondary">
                <i class="fa-solid fa-circle-xmark fa-xl"></i>
            </a>
        {% endif %}
    </div>
</div>

{# button on large screen #}
<div class="d-none d-lg-block ">
    <div class="btn-group w-100">
        <a class="col-10 btn" 
        style="background-color: {{ activity.category.color }}" 
        href="{{ path('app_activity_show', {id: activity.id}) }}"
        data-turbo="false">
             {% include "planning/_button_text.html.twig" %}
            <span class="badge badge-secondary">{{ activity.childrens|length }}</span>                           
        </a>
        {% if is_granted('CHILD_ACCESS', child) %}
            <a href="{{ path('app_child_action_activity', {child: child.id, action: 'remove', activity:activity.id}) }}" 
            class="col-2 btn btn-secondary d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-circle-xmark fa-xl"></i>
            </a>
        {% endif %}
    </div>
</div>