{% if is_granted("ROLE_TEACHER") %}
    <div class="btn-group w-100">
        <a class="btn col-10" style="background-color: {{ activity.category.color }}" 
        href="{{ path('app_activity_show', {id: activity.id}) }}" data-turbo-frame="_top">
            {{ activity.dateAt|date("H\\h") }}
            {{ activity.category }}  
            <span class="badge badge-secondary">{{ activity.childrens|length }}</span>                           
        </a>
        <a class="btn btn-secondary col-2" 
            href="{{ path('app_admin_activity_show', {id: activity.id}) }}"
            data-turbo-frame="_top">
            <i class="fa-solid fa-ellipsis"></i>             
        </a>
    </div>
{% elseif is_granted("ROLE_USER") %}
    <a class="btn col-10" style="background-color: {{ activity.category.color }}" 
    href="{{ path('app_activity_show', {id: activity.id}) }}" data-turbo-frame="_top">
        {{ activity.dateAt|date("H\\h") }}
        {{ activity.category }}  
        <span class="badge badge-secondary">{{ activity.childrens|length }}</span>                           
    </a>
{% else %}
    <button class="btn col-10" style="background-color: {{ activity.category.color }}" data-turbo-frame="_top">
        {{ activity.dateAt|date("H\\h") }}
        {{ activity.category }}
        <span class="badge badge-secondary">{{ activity.childrens|length }}</span>                           
    </button>
{% endif %}