{# button on small screen #}
<div class="d-block d-lg-none">
    <div class="btn-group-vertical w-100">
        <a class="btn" 
        style="background-color: {{ activity.category.color }}" 
        href="{{ path('app_activity_show', {id: activity.id}) }}"
        data-turbo-frame="_top">
            {{ activity.dateAt|date("H\\h") }}
            {{ activity.category }} 
            <span class="badge badge-secondary">{{ activity.childrens|length }}</span>
        </a>
        <a href="{{ path('app_child_action_activity', {child: child.id, action: 'add', activity:activity.id}) }}" 
        class="btn btn-secondary" alt="add">
            <i class="fa-solid fa-circle-plus fa-xl"></i>
        </a>
    </div>
</div>

{# button on large screen #}
<div class="d-none d-lg-block">
    <div class="btn-group w-100">
        <a class="col-10 btn" 
        style="background-color: {{ activity.category.color }}" 
        href="{{ path('app_activity_show', {id: activity.id}) }}"
        data-turbo-frame="_top">
            {{ activity.dateAt|date("H\\h") }}
            {{ activity.category }} 
            <span class="badge badge-secondary">{{ activity.childrens|length }}</span>
        </a>
        <a href="{{ path('app_child_action_activity', {child: child.id, action: 'add', activity:activity.id}) }}" 
        class="col-2 btn btn-secondary d-flex justify-content-center align-items-center" alt="add">
            <i class="fa-solid fa-circle-plus fa-xl"></i>
        </a>
    </div>
</div>