<div class="btn-group col-10 row">

    <a class="col-10 btn" 
    style="background-color: {{ activity.category.color }}" 
    href="{{ path('app_activity_show', {id: activity.id}) }}">
        {{ activity.dateAt|date("H\\hi") }} 
        {{ activity.category }} 
        <span class="badge badge-secondary">{{ activity.childrens|length }}</span>                           
    </a>

    <a href="{{ path('app_child_action_activity', {child: child.id, action: 'remove', activity:activity.id}) }}" 
    class="col-2 btn btn-secondary" alt="remove" data-turbo-confirm="Are you sure you want to delete the article?">
        <i class="fa-solid fa-circle-xmark fa-xl"></i>
    </a>
    
</div>