<div class="d-flex justify-content-center my-1">
    <ul class="nav nav-pills">
        {% for i in 0..3 %}
            {% set date = ("first day of this month + " ~ i ~ " month")|date('Y-m-d') %}

            <li class="nav-item">
                <a id="{{ 'month' ~ i }}" class="nav-month nav-link
                {# Active button class #}
                {% if (app.request.get("date") == date)
                 or ((app.request.get("date") == null) and loop.first) %}
                    active
                {% endif %}" 
                
                {% if child is defined %}
                    href="{{ path(app.request.attributes.get('_route'), {date: date, id: child.id}) }}"
                {% elseif user is defined and user is not same as app.user %}
                    href="{{ path(app.request.attributes.get('_route'), {date: date, id: user.id}) }}"
                {% else %}
                    href="{{ path(app.request.attributes.get('_route'), {date: date}) }}"
                {% endif %}
                >
                    {{ date|format_datetime(pattern='MMM', locale='fr')|capitalize }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>