{% set formattedDate = date|date('Y-m-d') %}


<a id="{{ 'month' ~ i }}"
   class="nav-month nav-link {{ isActive ? 'active' }}"
   {% if child is defined %}
       href="{{ path(app.request.attributes.get('_route'), {date: formattedDate, id: child.id}) }}"
   {% elseif user is defined and user is not same as app.user %}
       href="{{ path(app.request.attributes.get('_route'), {date: formattedDate, id: user.id}) }}"
   {% else %}
       {% set currentParams = app.request.attributes.get('_route_params')|merge({ date: formattedDate }) %}
       href="{{ path(app.request.attributes.get('_route'), currentParams) }}"
   {% endif %}
>
    {{ formattedDate|format_datetime(pattern='MMM', locale='fr')|capitalize }}
</a>
