<table class="table text-center">
    <thead>
        <tr>
            <th>{{"Date"|trans}}</th>
            <th>{{"Activity"|trans}}</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>{{"actions"|trans}}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for date, activities in planning %}
            {% for activity in activities %}
                <tr class="align-middle">
                    {# Date #}
                    {% if loop.first %}
                        <td class="col-2" {% if activities|length > 1 %}rowspan="{{ activities|length }}"{% endif %}>
                            {{ date|date('j M') }}
                        </td>
                    {% endif %}

                    {# Activity #}
                    <td>
                        {% include "planning/_button_activity.html.twig" %}
                    </td>

                    {# Admin #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a class="btn btn-secondary" 
                                href="{{ path('app_admin_activity_show', {id: activity.id}) }}"
                                data-turbo-frame="_top">
                                {{"manage"|trans}}                            
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td>
                        {{ date|date('j M') }}
                    </td>
                    <td colspan="100%"></td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>