<div class="table-responsive">
    <table class="table text-center" style="table-layout: fixed;">
        <thead>
            <tr>
                <th class="col-2">{{"Date"|trans}}</th>
                <th class="col">{{"All_Activities"|trans}}</th>
                <th class="col">{{ child.firstname|title }}</th>
            </tr>
        </thead>
        <tbody>
            {% for date, activities in planning %}
                {% for activity in activities %}
                    <tr class="align-middle">

                        {# Date #}
                        {% if loop.first %}
                            <td class="col-2" {% if activities|length > 1 %}rowspan="{{ activities|length }}"{% endif %}>
                                {{ date|format_datetime(pattern='dd MMM', locale='fr') }}
                            </td>
                        {% endif %}

                        {# Activities global #} 
                        {% if child in activity.childrens %}
                                <td class="col-5"></td>
                                
                                <td class="col-5">
                                    {% include "planning/_button_remove_activity.html.twig" %}
                                </td>
                            {% else %}
                                <td class="col-5">
                                    {% include "planning/_button_add_activity.html.twig" %}
                                </td>
                                
                                <td class="col-5"></td>
                        {% endif %}
                        
                    </tr>
                {% else %}
                    <tr>
                        <td class="col-2">
                            {{ date|format_datetime(pattern='dd MMM', locale='fr') }}
                        </td>
                        <td colspan="2"></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>