<div class="table-responsive">
    <table class="table text-center" style="table-layout: fixed;">
        <thead>
            <tr>
                <th class="col-2">{{"Date"|trans}}</th>
                {% if is_granted("ROLE_TEACHER") and not is_granted("ROLE_ADMIN") %}
                    <th class="col">{{"Teacher_(Me)"|trans}}</th>
                {% endif %}
                {% if is_granted("ROLE_USER") and (user.childs|length > 0) %} 
                    {% for child in user.childs %}
                        <th class="col">
                            {% if is_granted("CHILD_ACCESS", child) %}
                                <a 
                                {% if app.request.get('date') %}
                                    href="{{ path('app_children_planning', {id: child.id, date: app.request.get('date')}) }}"
                                {% else %}
                                    href="{{ path('app_children_planning', {id: child.id}) }}"
                                {% endif %} 
                                class="btn btn-primary" 
                                data-turbo-frame="_top">
                                    <b>{{ child.firstname|title }}</b>
                                </a>
                            {% else %}
                                {# Desactivate link for ROLE_ADMIN #}
                                {# Cause access denied on child planning #}
                                <button class="btn btn-primary">{{ child.firstname|title }}</button>
                            {% endif %}
                        </th>
                    {% endfor %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for date, activities in planning %}
                {% for activity in activities %}
                        
                    
                    <tr class="align-middle">

                        {# Date #}
                        {% if loop.first %}
                            <td class="col-2" {% if activities|length > 1 %}rowspan="{{ activities|length }}"{% endif %}>
                                {{ date|format_datetime(pattern='dd MMM', locale='fr') }}
                            </td>
                        {% endif %}

                        {% if is_granted("ROLE_TEACHER") and not is_granted("ROLE_ADMIN") %}
                            {# Teacher #}
                            {% if user == activity.teacher %}
                                <td>
                                    {% include "planning/_button_activity.html.twig" %}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endif %}

                        {# Activity #}
                        {% for child in childs %}
                            {% if child in activity.childrens %}
                                <td>
                                    {% include "planning/_button_remove_activity.html.twig" %}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% else %}
                    <tr>
                        <td class="col-2">
                            {{ date|format_datetime(pattern='dd MMM', locale='fr') }}
                        </td>
                        {% if is_granted("ROLE_TEACHER") and not is_granted("ROLE_ADMIN") %}
                        <td colspan="{{childs|length + 1}}"></td>
                        {% else %}
                        <td colspan="{{childs|length}}"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>