<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - {{ config.get('brandName')|default('MyBrand') }}</title>
        <link rel="icon" href="{{ asset('images/icons/favicon.ico') }}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ config.get('homepageDescription')|default('') }}">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/icons/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/icons/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/icons/favicon-16x16.png')}}">

        <link rel="manifest" href="{{ asset('manifest.json')}}">
        <meta name="theme-color" content="{{ config.get('color')|default('#5e5c64') }}">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

        {# Theming perso #}
        {% include "customTheme.html.twig" %}
    </head>
    <body style="background-color: {{ config.get('color')|default('#5e5c64') }};">
        
        {# Navbar #}
        {% include 'shared/_navbar.html.twig' %}

        {# Body #}
        <div class="container my-4" style="min-height:88vh">

            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    {{ component('Alert', { type:type, message:message }) }}
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </div>

        {# Footer #}
        {% include "shared/_footer.html.twig" %}

    </body>
</html>
