{% extends 'base.html.twig' %}

{% block title %}
	{{"Child_index"|trans}}
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-header">
			<h1 class="card-title">{{"Child_index"|trans}}
				-
				<span class="text-muted">{{ childs|length }}</span>
			</h1>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-striped" id="users" data-controller="table" data-table-target="table">
					<thead>
						<tr>
							<th>{{"License"|trans}}</th>
							<th>{{"Fullname"|trans}}</th>
							<th>{{"Age"|trans}}</th>
							<th>{{"Parent"|trans}}</th>
							<th>{{"Phone"|trans}}</th>
							<th>{{"Ski_level"|trans}}</th>
							<th>{{"Slalom_level"|trans}}</th>
							<th>{{"Snowboard_level"|trans}}</th>
						</tr>
					</thead>
					<tbody>
						{% for child in childs %}
							<tr>
								<td>{{ child.license }}</td>
								<td>{{ child.lastname|title }}
									{{ child.firstname|title }}</td>
								{% set age = child.age %}
								{% if age|length == 1 %}
									{% set age = '%02d'|format(age) %}
								{% endif %}
								<td>{{ child.age }}</td>
								<td>{{ child.user|title }}</td>
								<td>{{ child.user.phone }}</td>
								<td>{{ child.levelSki|capitalize }}</td>
								<td>{{ child.levelSlalom|capitalize }}</td>
								<td>{{ child.levelSnowboard|capitalize }}</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5">{{"No_records_found"|trans}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css">

{% endblock %}
