<a class="btn rounded-4 h-100 w-100 activity-button" style="background-color: {{ activity.category.color }}" href="{{ path('app_activity_show', {id: activity.id}) }}" data-turbo-frame="_top">
	<div class="card-body">
		<span class="fw-bold text-muted">
			{% if activity.dateAt|date("i") is not same as "00" %}
				{{ activity.dateAt|date("H\\hi") }}
			{% else %}
				{{ activity.dateAt|date("H\\h") }}
			{% endif %}
		</span>
		<br>
		{% if activity.title %}
			{{ activity.title }}
		{% else %}
			{{ activity.category }}
		{% endif %}
		<br>
		<span class="badge bg-light rounded-pill text-muted">{{ activity.childrens|length }}</span>
	</div>
</a>
