<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4" aria-label="Second navbar example">
    <div class="container-fluid">

        <a href="{{ path('app_home') }}">
            <img src="{{ asset('images/kidsbulle-logo.png') }}" height="40" alt="Logo">
        </a>
        <a class="navbar-brand mx-2" href="{{ path('app_home') }}">
            Kid's Bulle
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar02" aria-controls="navbar02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar02">
           
            {% if is_granted('ROLE_USER') %}
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_user') }}">{{"Profile"|trans}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_user_activities')}}">{{"Planning"|trans}}</a>
                    </li>
                </ul>
            {% endif %}

            {% if is_granted('ROLE_TEACHER') %}
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin_activity_index') }}">{{"Activities"|trans}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin_child_index') }}">{{"Childs"|trans}}</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_category_index') }}">{{"Categories"|trans}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_user_index') }}">{{"Users"|trans}}</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_config') }}">Configuration</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}

            <ul class="navbar-nav ms-auto">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">{{"Log_out"|trans}}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('app_register') }}">{{"Sign_in"|trans}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('app_login') }}">{{"Log_in"|trans}}</a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>