<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Activity</th>
            <th>Childs</th>
        </tr>
    </thead>
    <tbody>
        {% for date, activities in planning %}
            {% for activity in activities %}
                <tr>
                    {% if loop.first %}
                        <td {% if activities|length > 1 %}rowspan="{{ activities|length }}"{% endif %}>
                            {{ date|date('d.m') }}
                        </td>
                    {% endif %}
                    <td>
                        <a href="{{ path('app_activity_show', {id: activity.id}) }}">
                            {{ activity.dateAt|date("H:i") }} - 
                            {{ activity.category }} - 
                            {{ activity.childrens|length }}
                        </a>
                                    
                    </td>
                    <td>
                        {% for child in activity.childrens %}
                            {% if is_granted("CHILD_ACCESS", child) or is_granted("ROLE_ADMIN") %}
                                <li>
                                    {{ child.firstname }}


                                    {# TODO : Selon granted remove child #}
                                    {# Maybe not #}



                                </li>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% else %}
				<tr>
					<td>
						{{ date|date('d.m') }}
					</td>
					<td colspan="100%"></td>
				</tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>