<table class="table text-center">
    <thead>
        <tr>
            <th>{{"Date"|trans}}</th>
            <th>{{"All_Activities"|trans}}</th>
            <th>{{ child.firstname }}</th>
        </tr>
    </thead>
    <tbody>
        {% for date, activities in planning %}
            {% for activity in activities %}
                <tr class="align-middle">

                    {# Date #}
                    {% if loop.first %}
                        <td class="col-2" {% if activities|length > 1 %}rowspan="{{ activities|length }}"{% endif %}>
                            {{ date|date('j M') }}
                        </td>
                    {% endif %}

                    {# Activities global #}
                    {% if child in activity.childrens %}
                    <turbo-frame id="activity_{{ activity.id }}">
                        <td class="col-5"></td>
                        
                        <td class="col-5">
                            <div class="btn-group col-10 row">
                                <a class="col-10 btn" 
                                style="background-color: {{ activity.category.color }}" 
                                href="{{ path('app_activity_show', {id: activity.id}) }}">
                                    {{ activity.dateAt|date("H\\hi") }} - {{ activity.category }} 
                                    <span class="badge badge-secondary">{{ activity.childrens|length }}</span>                           
                                </a>
                                <a href="{{ path('app_api_child_action_activity', {child: child.id, action: 'remove', activity:activity.id}) }}" 
                                class="col-2 btn btn-secondary" alt="remove" data-turbo-confirm="Are you sure you want to delete the article?">
                                    <i class="fa-solid fa-circle-xmark fa-xl"></i>
                                </a>
                            </div>
                        </td>
                    {% else %}
                        <td class="col-5">
                            <div class="btn-group col-10 row">
                                <a class="col-10 btn" 
                                style="background-color: {{ activity.category.color }}" 
                                href="{{ path('app_activity_show', {id: activity.id}) }}">
                                    {{ activity.dateAt|date("H\\hi") }} - {{ activity.category }} 
                                    <span class="badge badge-secondary">{{ activity.childrens|length }}</span>                           
                                </a>
                                <a href="{{ path('app_api_child_action_activity', {child: child.id, action: 'add', activity:activity.id}) }}" 
                                class="col-2 btn btn-secondary" alt="add">
                                    <i class="fa-solid fa-circle-plus fa-xl"></i>
                                </a>
                            </div>
                        </td>

                        <td class="col-5"></td>
                    </turbo-frame>
                    {% endif %}
                    
                </tr>
            {% else %}
                <tr>
                    <td class="col-2">
                        {{ date|date('j M') }}
                    </td>
                    <td colspan="100%"></td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>