<table class="table">
    <thead>
        <tr class="row">
            <th class="col">Date</th>
            <th class="col">Matin</th>
            <th class="col">Après-midi</th>
        </tr>
    </thead>
    <tbody>
        {% for date in dates %}
            <tr class="row">
                <td class="col">{{ date | date("Y-m-d", "Europe/Paris") }}</td>
                <td class="col">
                    <ul>
                        {% for activity in activities %}
                            {% if (date | date("Y-m-d")) is same as (activity.dateAt | date("Y-m-d")) %}
                                <li>
                                    <a href="{{ path('app_activity_show', {id: activity.id}) }}">{{ activity.dateAt | date("H:i") }} - {{ activity.category }} - {{ activity.childrens | length }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>
                <td class="col"></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('app_admin_activity_new') }}">ajouter une sortie</a>
{% endif %}