<table class="table">
    <thead>
        <tr class="row">
            <th class="col">Date</th>
            <th class="col">Activity</th>
        </tr>
    </thead>
    <tbody>
        {% for date in dates %}
            <tr class="row">
                <td class="col">{{ date | date("Y-m-d", "Europe/Paris") }}</td>
                <td class="col">
                    <ul>
                        {% for activity in activities %}
                            {% if (date | date("Y-m-d")) is same as (activity.dateAt | date("Y-m-d")) %}
                                <li>
                                    <a href="{{ path('app_activity_show', {id: activity.id}) }}">
                                        {{ activity.dateAt | date("H:i") }} - 
                                        {{ activity.category }} - 
                                        {{ activity.childrens | length }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>