{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="card col-md-6 mx-auto">
        <div class="card-header">
            <h1 class="card-title">{{ title }}</h1>
            <a class="btn btn-light" href="{{ path('app_user') }}">{{"back_to_profile"|trans}}</a>
        </div>
        <div class="card-body">
            {{ include('children/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <div class="card-footer text-end">
            {{ include('children/_delete_form.html.twig') }}
        </div>
    </div>    
{% endblock %}
