{% extends 'base.html.twig' %}

{% block title %}Editer {{ child.firstname }}{% endblock %}

{% block body %}
    <div class="card col-md-6 mx-auto">
        <div class="card-header">
            <h1 class="card-title">Editer {{ child.firstname }}</h1>
            {{ component('BackButton', { url: path('app_user') }) }}
        </div>
        <div class="card-body">
            {{ include('children/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <div class="card-footer text-end">
            {{ include('children/_delete_form.html.twig') }}
        </div>
    </div>    
{% endblock %}
