{% extends 'base.html.twig' %}

{% block title %}{{"Planning_of"|trans}} {{ child.firstname }}{% endblock %}

{% block body %}
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">{{"Planning_of"|trans}} {{ child.firstname }}</h1>
                {% set dateParam = app.request.get('date') is defined ? {'date': app.request.get('date')} : {} %}
                {{ component('BackButton', { url: path('app_user_activities', dateParam) }) }}
            </div>
            <div class="card-body">
                <turbo-frame id="planning_child">
                    {% include "planning/_nav_month.html.twig" %}
                    {% include "planning/_planningChild.html.twig" %}
                </turbo-frame>
            </div>
        </div>
{% endblock %}
