{% extends 'base.html.twig' %}

{% block title %}{{ user.firstname|title }} {{ user.lastname|title }}{% endblock %}

{% block body %}
    <section class="card col-md-6 mx-auto">
        <div class="card-header">
            <h1>{{ user.firstname|title }} {{ user.lastname|title }}</h1> 
            {% if not is_granted("ROLE_USER") %}
                <small>{{ user.roles[0] | split('_')[1] | title }}</small>
            {% endif %}
        </div>
        <div class="card-body">
            <p>
                {{ user.email }} <br>
                {{ user.phone }} <br>
                {{ user.fulladress }}
            </p>
        </div>
        {% if user.childs|length > 0 %}
            <ul class="list-group list-group-flush">
                {% for child in user.childs %}
                    <li class="list-group-item d-flex justify-content-between">
                        <a class="btn btn-primary" href="{{ path('app_children_planning', {'id': child.id}) }}">{{ child.firstname|title }}</a>
                        <a class="btn btn-link" href="{{ path('app_children_edit', {'id': child.id}) }}">{{"edit"|trans}}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
            
        <div class="card-footer">
            <a class="btn btn-link" href="{{ path('app_user_edit') }}">{{"edit"|trans}}</a>
            <a class="btn btn-link" href="{{ path('app_children_new') }}">{{"add_child"|trans}}</a>
        </div>
    </section>
{% endblock %}
